* {
	text-align: center;
}
::selection {
	color: #fff;
	background-color: #6c6;
}
::-moz-selection {
	color: #fff;
	background-color: #6c6;
}
img, button, br {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;	
}
h1 {
	display: inline;
	font-size: 150% !important;
	font-weight: lighter !important;
}
input[type="number"] {
	font-size: 120%;
}
input[type="number"]:focus {   
  border-color: #6c6;
  box-shadow: 0.25rem 0.25rem 0 #6c6;
}
#warningText {
	padding: 0.25rem;
}
@media only screen and (max-width: 768px) { /* mobile */
	#keyboard-shortcuts-p {
		display: none;
	}
}