* {
	text-align: center;
}
::selection {
	color: #fff;
	background-color: #6c6;
}
::-moz-selection {
	color: #fff;
	background-color: #6c6;
}
img, button, br {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;	
}
h1 {
	display: inline;
	font-size: 150% !important;
	font-weight: lighter !important;
}
input[type="number"] {
	font-size: 120%;
}
input[type="number"]:focus {   
  border-color: #6c6;
  box-shadow: 0.25rem 0.25rem 0 #6c6;
}
.input-group-text i {
	margin-right: 0.25rem;
}
.input-group-text.highlight {
	background-color: #393;
	color: #fff;
	border-color: #6c6;
}
#warningText {
	padding: 0.5rem;
	border-radius: 0.25rem;
}
a {
	font-weight: bold;
	color: #393 !important;
}
#weight-svg {
	margin-left: 1rem;
}
#weight-arc {
	-webkit-transition: d 0.2s;
	transition: d 0.2s;
}
@media only screen and (max-width: 768px) { /* mobile */
	#keyboard-shortcuts-p {
		display: none;
	}
}