* {
	text-align: center;
}
h3 {
	display: inline;
}
::selection {
	color: #fff;
	background-color: #6c6;
}
::-moz-selection {
	color: #fff;
	background-color: #6c6;
}
img, button, br {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;	
}
input[type="number"]:focus {   
  border-color: #6c6;
  box-shadow: 0 0 8px #6c6;
}
@media only screen and (max-width: 768px) { /* mobile */
	#keyboard-shortcuts-p {
		display: none;
	}
}